* {
    background-color: rgb(245, 190, 39);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

img {
    display: block;
    padding: 1%;
    margin: auto;
    width: 35%;
    max-width: 100%;
}

#contenedor {
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
   /* display: flex; */
    justify-content: center;
    align-items: center;
}

button {
    background-color: white;
    text-align: center;
    margin: auto;
    display: flex;
    
}